.dark-bg{
    background-image:  url('/assets/wall1.jpg');
    background-size: cover;
    
}

#hero .container{
    height: 90vh;
}

#hero-text{
    font-size: 80px;
}

@media (min-width: 1200px) {
    #hero-text {
      font-size: 2rem;
    }
  }